@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Poppins:wght@300;400&display=swap'); /* This fonts import from google fonts */


/* 
   The over_all page font Here declare 
   -----------------------------------   
*/

*{              
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;     
}

/*=====================================================================================================================================================================================================================================================================
 Style For overall Body
 ----------------------
   
*/

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('https://bit.ly/3Dl88nq'); /* This will provide the background overlay the image *//*helps to clearly view the bg text */
    color: #fff; 
    background-size: cover;
    background-position: center;
}
/*==========================================================================================================================================================================================================
    Counter for Timer and Text
    --------------------------   
*/
.Counter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap:10px;  /* Gap between the Timer */

}
/* ===========================================================================================================================================================================================================
    p- paragrah tag inside the text = "Countdown" That text Size  */

p{
    font-size: 15px;

}
/*=============================================================================================================================================================================================================
   "new year" text Style Below
*/

.newyear{
    font-family: 'Inspiration', cursive;
    font-size: 50px;
    font-weight: 400;
    margin-top: 30px;
}

/*===============================================================================================================================================================================================================
    box class is style for overall timer and that text 
*/


.box{
    width: 50px;
    height: 50px;
    text-align: center;
    /*background-color: grey; */
}


/* =================================================================================================================================================================================================================     
    h2 - it haves the timer Number that Styling below          
*/ 
.box h2{
    font-size: 20px;
    font-weight: 400;

}
/*===================================================================================================================================================================================================================
    small - that for The timer below texts
*/
.box small{
    font-size: 10px;
}

/*==================================================================================================================================================================================================================*/

@media (min-width :576px){   /* Mobile view Customization  below */
    .newyear{
        font-size: 100px;
    }

    .p{
        font-size: 25px;
    
    }

    .box h2{
        font-size: 35px;
    }

    .box{
        width: 70px;
        height: 70px;
    }

    .box small{
        font-size: 10px;
    }


    
}

/*==================================================================================================================================================================================================================*/

@media (min-width : 768px){   /* Desktop view Customization below */

    .newyear{
         font-size: 130px;
    }

    .p{
        font-size: 40px;
    
    }

    .box h2{
        font-size: 50px;
    }

    .box{
        width:100px;
        height:100px;
    }

    .box small{
        font-size: 20px;
    }

}

/*==================================================================================================================================================================================================================
                                                            END OF THE STYLE SHEET
/*================================================================================================================================================================================================================== */